@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData[ "Title" ] = "Login page";
    ViewBag.logged = false;
    if ( HttpContextAccessor.HttpContext.Request.Cookies[ "sessionid" ] != null )
    {
        csgo.usersManager.userData account = await csgo.usersManager.getUserData(HttpContextAccessor.HttpContext.Request);
        if ( account != null )
        {
            TempData[ "toast" ] = "{type:'success',message:'You are already logged in.'}";
            ViewBag.alreadylogged = true;
            HttpContextAccessor.HttpContext.Response.Redirect( Url.Action( "index", "home" ) );
        }
    }
}

@model csgo.postModels.recoveryPassword

<div style="height: 100vh">
    <div class="flex-center flex-lg-column">
        <div class="col-lg-4 col-md-8 mx-auto">

         
            @{ 
              
                if ( ViewBag.exist != null && ViewBag.exist )
                {

            <!-- form card login -->
            <div class="card rounded shadow shadow-sm">
                <div class="card-header elegant-color-dark">
                    <h3 class="mb-0 text-light">Change password</h3>
                </div>
                <div class="card-body">
                    @{ csgo.Controllers.adminController.tokenAccess.createToken( HttpContextAccessor.HttpContext.Request, csgo.Controllers.adminController.tokenType.resetpass );}
                    @using ( Html.BeginForm( "resetPassword", "login", FormMethod.Post, new { @class = "form", role = "from" } ) )
                    {

                        @Html.AntiForgeryToken( )


                        <div class="md-form">

                            <i class="fas fa-user prefix"></i>
                            @Html.TextBoxFor( model => model.password, new { @type = "password", @id = "password", @class = "form-control" } )
                            <label for="username" class="">Username</label>

                        </div>

                        <div class="md-form">

                            <i class="fas fa-key prefix"></i>

                            @Html.PasswordFor( m => m.passwordre, new { @type = "password", @name = "password2", @id = "password2", @class = "form-control" } )
                            <label for="password" class="">Password recheck</label>

                        </div>

                        <button class="btn elegant-color-dark my-1 btn-block waves-effect waves-light text-light" type="submit" id="changePass">Change password</button>

                    }
                </div>
                <!--/card-block-->
            </div>
            <!-- /form card login -->
                        }
                        else
                        {
                            <p class="text-center black-text">Invalid token.</p>
                        }
                        }
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#changePass").click(function (event) {
            if ($("#password").val() != $("#password2").val()) {
                toastr.error("Passwords doesn't match.");
                event.preventDefault();
                return;
            }
        });
    });

</script>
