<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>
	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="connectionTimeout" value="360000" />
			<add name="requestRetries" value="1" />
			<add name="clientId" value="AXFTa2BvyZZ1BKj9IsTK5sjWQp3ZUrO7bm6DmzJtEeEzsSMFmfT0mm0zoPxF2Bc7ZICHEeKa7JUXnTMf" />
			<add name="clientSecret" value="EJgp-Xm3HxyRvE82QI8kKqurF1EOVL2du7pgSuAQ2pk3J2OErUaBQ7PkGDGeZq1TZX4amg7PWTV9z7UP" />
		</settings>
	</paypal>
	
 <customErrors mode="RemoteOnly" defaultRedirect="home/notFound">
        <error statusCode="403" redirect="home/notFound" />
        <error statusCode="404" redirect="home/notFound" />
    </customErrors>
</configuration>